body{
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100%;
  }

  .but{
    justify-content: center;
    display: flex;
    color: red;
  }

  .but2{
    justify-content: center;
    display: flex;
    color: red;
  }

  .but3{
    justify-content: center;
    display: flex;
    color: red;
  }